body{
    margin: 0;
    font-family: Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 2px 100px;    
    border: none;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    margin-top: 5px;
    color: #F9FAF8;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
}
.space{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex: 1;
}
.sun{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button{
    width: 60px;
}
.image{
    height: 200px;
    width: 400px;
}
.first{
    background-color: #1F2937;
    padding: 2px 100px;
    display: flex;
    justify-content: space-between;
}
.text1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text2{
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px;
}
button{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 7px;
    color: #F9FAF8;
    border: none;
}
.card {
    border: 3px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 8px;
    height: 200px;
    width: 200px;
}
.container{
    display: flex;
    gap: 10px;
}
.info{
    display: flex;
    flex-direction: column;
}
.text{
    text-align: center;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text3{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.img3{
    height: 200px;
    width: 200px;
    border-radius: 7px; 
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.third{
    background-color: #E5E7EB;
    padding: 20px 100px;
}
.text5{
    font-size: 36px ;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}
.text4{
    justify-content: flex-end;
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    color: black;
}
.fourth{
    padding: 2px 100px;
    color: #F9FAF8;
   }
.but{
    border: 1px solid white;
    width: 80px;
}
.p{
    font-weight: bolder;
}
.sign{
    font-size: 13px;
}
.jog{
    background-color: #3882F6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 20px 50px;
    align-items: center;

}
.header,.footer{
    background-color: #1F2937;
    height: 40px;
}
.footer{
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    align-items: center;
    margin-top: 50px
}
.contain{
display: flex;
flex: 1;
flex-direction: column;
justify-content: space-between;
gap: 50px;
}